body {
  color: white;
<<<<<<< HEAD
  background-color: #333;
  font-size: 150%;
  font-family: 'Satisfy', cursive;
  margin: 5em 25%;
=======
  background-color: black;
>>>>>>> e2097658d8db122927a571fd2fbce544d3c4e779
}